/* ===================================== 
   Public API Request
======================================== */

@import url('https://fonts.googleapis.com/css?family=Muli');

* {
	box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 100%;
}

body {
    font-family: "Muli", sans-serif;
    text-align: center;
    background: #2e8b57;
}

header {
    padding: 15px 5px 5px;
}

.header-inner-container {
    max-width: 1180px;
    margin: auto;
}

header h1 {
    font-size: 1.25em;
    color: #fff;
    margin-top: 35px;
}

.search-input {
    padding: 15px 0;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    background: transparent;
    color: #fff;
}

.search-input::placeholder {
    color:#fff;
}

.search-input:active, .search-input:hover, .search-input:focus {
    outline:0;
    border-bottom-color: lightgreen;
}

.search-submit {
    cursor: pointer;
    height: 33px;
    background: rgba(245, 245, 245, 0.9);
    border-radius: 0 0.25rem 0.25rem 0;
    border: 1px solid rgba(200, 200, 200, 0.9);
    transition: .4s ease-out;
}

.search-submit:active, .search-submit:hover, .search-submit:focus {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(50, 50, 50, 0.9);
}

form {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
    color: white;
    font-size: large;
    font-weight: bolder;
}

form label {
    position: absolute;
    top: 15px;
    left: 0;
}

.address{
    color: lightgreen;
}

/* ===================================== 
   Gallery
======================================== */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
  
.card {
    display: flex;
    color: #fff;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    max-width: 360px;
    margin: 10px 10px 20px;
    padding: 10px;
    background: rgb(4, 57, 39,0.4);
    border-radius: 0.25em;
    transition: .4s ease-out;
    overflow: hidden;
}

.card-img {
    width: 95px;
    margin: 10px 15px auto 10px;
    border-radius: 50%;
}

.card-info-container {
    text-align: left;
}

.card-name {
    margin: 20px auto 0;
}

.card-text {
    font-size: 0.9em;
    color: rgba(50, 50, 50, 0.7);
    margin: 7px auto;
    transition: .4s ease-out;
}

.cap {
    text-transform: capitalize;
}


/* ===================================== 
   Modal
======================================== */

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal {
    position: relative;
    width: 95%;
    max-width: 420px;
    min-height: 415px;
    margin: 10px auto auto;
    padding-bottom: 15px;
    background: #043139;
    color: #fff;
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
    transition: .4s ease-out;
    padding: 30px 20px;
    font-weight: bold;
}


.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.25em;
    border: 1px solid rgba(50, 50, 50, 0.3);
}

.modal-img {
    width: 150px;
    margin-top: 35px;
    border-radius: 50%;
}

.modal-name {
    margin-bottom: 5px;
}

.modal-text {
    color: rgba(50, 50, 50, 0.7);
    margin: 10px;
}

.modal hr {
    width: 75%;
    margin: 25px auto 30px;
    border-color: rgba(200, 200, 200, 0.2);
}

.modal-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 95%;
    max-width: 420px;
    padding: 10px 15px 15px;;
    margin: 10px auto auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
}


.modal-btn-container .btn {
    display: inline-block;
    cursor: pointer;
    font-size: 0.85em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    padding: 0.75em 1.5em;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.35em;
    transition: .4s ease-out;
  }
  

  button {
    border-radius: 5px;
    border: none;
    margin: 1rem;
    font-weight: bolder;
  }
  
.prev, .next {
    width: 100px;
    font-family: inherit;
    padding: 10px;
    color:
    padding: 1.5rem 3rem;
}

.btn {
    background: rebeccapurple;
    border-radius: 5px;
    color: white;
    border: none;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-family: inherit;
}

.btn:hover {
    opacity:0.9;
}
.btn:focus {
    outline: none;
}
/* ===================================== 
   Media Queries
======================================== */

/* ===================================== 
   Tablet
======================================== */

@media (min-width: 768px) {
    .header-inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
    }

    .header-text-container {
        text-align: left;
    }

    .search-container {
        margin-top: 25px;
    }

    .modal {
        margin-top: 100px;
    }
}

/* ===================================== 
   Desktop
   Hover styles on desktop 
======================================== */

@media (min-width: 1024px) {

    .card:hover {
        background: #043139;
        border: 1px solid rgba(50, 50, 50, 0.9);
    }

    .card:hover .card-text {
        color: rgba(25, 25, 25, 1); 
    }

    .btn:hover {
        background: rgba(255, 255, 255, 1);
        color: rgba(25, 25, 25, 1); 
    }
}


/* -------------OVERLAY--------------- */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}


.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}


